<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a href="https://github.com/jonmast">Jonathan Mast</a>, a wannabe web developer studying at <a href="http://www.thefirehoseproject.com">the firehose project</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'jon.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-q clearfix">
    <h2 class="text-center">Jonathan Mast</h2>
    <br>
    <p>
      Jonathan is a woodworker turned web developer who spends his free time studying physics, philosophy, or whatever other challenging issue he comes across.
    </p>
  </div>
</div>
