<header class="clearfix">
  <div class="col-xs-3">
    <div class="circle">
      <br />
      You know
      <br />
      you need
      <br />
      to code
      <br />
    </div>
  </div>
  <div class="col-xs-4 slogan">
    Splurting out advice about entrepenuership since 2015
  </div>
  <div class="col-xs-5 links">
    <%= link_to 'Contribute', '#' %>
    <%= link_to 'About', '#' %>
  </div>
</header>
<hr />
